extends ../shared/template

block content

  #controls
    a(href='/pets/new') New Pet!

  #pets
    each pet in pets
      a(href='/pets/#{pet._id}')
        .pet
          h3= pet.name
          img(src='/img/#{pet.photo}')
          .delete
            form(action='/pets/#{pet._id}/delete', method='POST')
              button Delete
